@page "/Create"
@using AddressBook.Data
@inject AddressService objAddressService
@inject NavigationManager NavigationManager

<h2>Add Address</h2>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            @if (selectedCountry == null)
            {
                <em>Loading...</em>
            }
            else
            {
                <div class="form-group">
                    <label for="Country" class="control-label">Country</label>
                    <select class="form-control" @onchange="@UpdateFormFormat">
                        <option value="">--Select Country--</option>
                        @if (countryList != null)
                        {
                            foreach (var country in countryList)
                            {
                                <option value="@country.Id">@country.Name</option>
                            }

                        }
                    </select>
                </div>

                <div class="form-group">
                    <label for="AddressLine1" class="control-label">Address Line 1</label>
                    <input for="AddressLine1" class="form-control" @bind="@objAddress.AddressLine1" />
                </div>

                <div class="form-group">
                    <label for="AddressLine2" class="control-label">Address Line 2</label>
                    <input for="AddressLine2" class="form-control" @bind="@objAddress.AddressLine2" />
                </div>

                @if (selectedCountry.HasAddressLine3)
                {
                    <div class="form-group">
                        <label for="AddressLine3" class="control-label">Address Line 3</label>
                        <input for="AddressLine3" class="form-control" @bind="@objAddress.AddressLine3" />
                    </div>
                }


                @if (selectedCountry.AdminAreas == null)
                {
                    <div class="form-group">
                        <label for="AdminArea" class="control-label">@selectedCountry.AdminAreaDisplayName</label>
                        <input for="AdminArea" class="form-control" @bind="@objAddress.AdminArea" />
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label for="AdminArea" class="control-label">@selectedCountry.AdminAreaDisplayName</label>
                        <select class="form-control" @bind="@objAddress.AdminArea">
                            <option value=""></option>
                            @foreach (var adminArea in selectedCountry.AdminAreas)
                            {
                                <option value="@adminArea">@adminArea</option>
                            }
                        </select>
                    </div>
                }

                @if (selectedCountry.HasLocality)
                {
                    <div class="form-group">
                        <label for="Locality" class="control-label">@selectedCountry.LocalityDisplayName</label>
                        <input for="Locality" class="form-control" @bind="@objAddress.Locality" />
                    </div>
                }

                @if (selectedCountry.HasSublocality)
                {
                    <div class="form-group">
                        <label for="Sublocality" class="control-label">@selectedCountry.SublocalityDisplayName</label>
                        <input for="Sublocality" class="form-control" @bind="@objAddress.Sublocality" />
                    </div>
                }

                <div class="form-group">
                    <label for="PostalCode" class="control-label">Postal Code</label>
                    <input for="PostalCode" class="form-control" @bind="@objAddress.PostalCode" />
                </div>

                @if (selectedCountry.HasExtraData)
                {
                    <div class="form-group">
                        <label for="ExtraData" class="control-label">Extra Data</label>
                        <input for="ExtraData" class="form-control" @bind="@objAddress.ExtraData" />
                    </div>
                }
            }

        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@CreateAddress" value="Save" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>

</form>

<hr />

@code {
    Address objAddress = new Address();
    List<Country> countryList;
    Country selectedCountry;

    protected override async Task OnInitializedAsync()
    {
        countryList = await Task.Run(() => objAddressService.GetAllCountries());
        selectedCountry = new Country();
    }

    protected void CreateAddress()
    {
        objAddressService.CreateAddress(objAddress);
        NavigationManager.NavigateTo("/index");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("/index");
    }
    void UpdateFormFormat(ChangeEventArgs e)
    {
        var countryId = e.Value.ToString();
        if (countryId == "")
        {
            return;
        }
        selectedCountry = objAddressService.GetCountry(countryId);
        objAddress.Country = selectedCountry.Name;
    }

}


