@page "/Search"
@using AddressBook.Services
@using AddressBook.Data
@inject AddressService objAddressService
@inject NavigationManager NavigationManager

<h2>Search Address</h2>
<hr />
@*Dynamic Form*@
<form>
    <div class="row">
        <div class="col-md-8">
            @if (selectedCountryFormat == null)
            {
                <em>Loading...</em>
            }
            else
            {
                <div class="form-group">
                    <label for="Country" class="control-label">Country</label>
                    <select class="form-control" @onchange="@UpdateFormFormat">
                        <option value=""></option>
                        @if (countryFormatList != null)
                        {
                            foreach (var countryFormat in countryFormatList)
                            {
                                <option value="@countryFormat.Id">@countryFormat.Name</option>
                            }

                        }
                    </select>
                </div>

                @if (otherCountry == true)
                {
                    <div class="form-group">
                        <label for="Country" class="control-label">Country</label>
                        <input for="Country" class="form-control" @bind="@objAddress.Country" />
                    </div>
                }
                @if (isWholeSearch && !countryValidation)
                {
                    <p style="color:red">Country is required </p>
                }

                <div class="form-group">
                    <label for="AddressLine1" class="control-label">Address Line 1</label>
                    <input for="AddressLine1" class="form-control" @bind="@objAddress.AddressLine1" />
                    <label class="font-italic text-black-50">Street address, P.O. box, company name, c/o</label>
                    @if (!line1Validation)
                    {
                        <p style="color:red">Line 1 is required </p>
                    }
                </div>

                <div class="form-group">
                    <label for="AddressLine2" class="control-label">Address Line 2</label>
                    <input for="AddressLine2" class="form-control" @bind="@objAddress.AddressLine2" />
                    <label class="font-italic text-black-50">Apartment, suite, unit, building, floor, etc.</label>
                </div>

                @if (selectedCountryFormat.HasAddressLine3)
                {
                    <div class="form-group">
                        <label for="AddressLine3" class="control-label">Address Line 3</label>
                        <input for="AddressLine3" class="form-control" @bind="@objAddress.AddressLine3" />
                    </div>
                }


                @if (selectedCountryFormat.AdminAreas == null)
                {
                    <div class="form-group">
                        <label for="AdminArea" class="control-label">@selectedCountryFormat.AdminAreaDisplayName</label>
                        <input for="AdminArea" class="form-control" @bind="@objAddress.AdminArea" />
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label for="AdminArea" class="control-label">@selectedCountryFormat.AdminAreaDisplayName</label>
                        <select class="form-control" @bind="@objAddress.AdminArea">
                            <option value=""></option>
                            @foreach (var adminArea in selectedCountryFormat.AdminAreas)
                            {
                                <option value="@adminArea">@adminArea</option>
                            }
                        </select>
                    </div>
                }
                @if (isWholeSearch && !adminAreaValidation)
                {
                    <p style="color:red">@selectedCountryFormat.AdminAreaDisplayName is required</p>
                }

                @if (selectedCountryFormat.HasLocality)
                {
                    <div class="form-group">
                        <label for="Locality" class="control-label">@selectedCountryFormat.LocalityDisplayName</label>
                        <input for="Locality" class="form-control" @bind="@objAddress.Locality" />
                    </div>
                }

                @if (selectedCountryFormat.HasSublocality)
                {
                    <div class="form-group">
                        <label for="Sublocality" class="control-label">@selectedCountryFormat.SublocalityDisplayName</label>
                        <input for="Sublocality" class="form-control" @bind="@objAddress.Sublocality" />
                    </div>
                }

                <div class="form-group">
                    <label for="PostalCode" class="control-label">Postal Code</label>
                    <input for="PostalCode" class="form-control" @bind="@objAddress.PostalCode" />
                    @if (isWholeSearch && !postCodeValidation)
                    {
                        <p style="color:red"> Post code is invalid </p>
                    }
                </div>

                @if (selectedCountryFormat.HasExtraData)
                {
                    <div class="form-group">
                        <label for="ExtraData" class="control-label">Extra Data</label>
                        <input for="ExtraData" class="form-control" @bind="@objAddress.ExtraData" />
                    </div>
                }

            }

        </div>
    </div>

    <div style="padding-bottom:15px">
        <input name="checkBox"
               type="checkbox"
               @onchange="@OnCheckBoxChanged"
               value="true" />Only show exact matches
    </div>

    <div class="form-group">
        <input type="button" class="btn btn-primary" @onclick="@SearchAddress" value="Search" />
    </div>

    @if (SearchButtonClicked)
    {
        @if (FoundAddress)
        {

            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <input type="button" class="btn btn-primary" @onclick="@OKClicked" value="Clear Output" />
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Line1</th>
                                <th>Line2</th>
                                <th>Line3</th>
                                <th>Country</th>
                                <th>Administrative Area</th>
                                <th>Locality</th>
                                <th>Sublocality</th>
                                <th>Postal Code</th>
                                <th>Extra Data</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var address in resList)
                            {
                                <tr>
                                    <td>@address.AddressLine1</td>
                                    <td>@address.AddressLine2</td>
                                    <td>@address.AddressLine3</td>
                                    <td>@address.Country</td>
                                    <td>@address.AdminArea</td>
                                    <td>@address.Locality</td>
                                    <td>@address.Sublocality</td>
                                    <td>@address.PostalCode</td>
                                    <td>@address.ExtraData</td>
                                    <td>
                                        <a class="nav-link pb-0 pt-0" href="update/@address.Id">
                                            <span class="oi oi-pencil" aria-hidden="true"></span>
                                        </a>

                                    </td>
                                    <td>
                                        <a class="nav-link pb-0 pt-0" href="delete/@address.Id">
                                            <span class="oi oi-trash" aria-hidden="true"></span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>


        }
        else
        {
            <div class="form-group">
                <label for="NotFound" class="control-label">Address Not Found</label>
            </div>
        }

    }


</form>

<hr />

@code {
    Address objAddress = new Address();
    List<CountryFormat> countryFormatList;
    CountryFormat selectedCountryFormat;
    bool SearchButtonClicked = false;
    bool FoundAddress = false;
    bool isWholeSearch = false;
    List<Address> resList;
    bool postCodeValidation = true;
    bool countryValidation = true;
    bool line1Validation = true;
    bool adminAreaValidation = true;
    bool otherCountry = false;

    protected override async Task OnInitializedAsync()
    {
        countryFormatList = await Task.Run(() => objAddressService.GetAllCountryFormats());
        selectedCountryFormat = new CountryFormat();
    }

    protected void SearchAddress()
    {

        objAddress = objAddressService.parseAddress(objAddress);
        // validation
        countryValidation = !String.IsNullOrEmpty(objAddress.Country);

        line1Validation = !String.IsNullOrEmpty(objAddress.AddressLine1);

        adminAreaValidation = !String.IsNullOrEmpty(objAddress.AdminArea);

        postCodeValidation = objAddressService.PostalCodeValidator(objAddress);

        if (isWholeSearch && countryValidation && line1Validation && adminAreaValidation && postCodeValidation) // whole search validation
        {
            resList = objAddressService.GetAddressByWholeAddress(objAddress);
        }
        else if (!isWholeSearch && line1Validation) // partial search validation
        {
            resList = objAddressService.GetAddressByPartialAddress(objAddress);
        }
        else // invalid input
        {
            SearchButtonClicked = false;
            return;
        }

        if (resList.Count != 0)
        {
            FoundAddress = true;
        }
        else
        {
            FoundAddress = false;
        }

        SearchButtonClicked = true;

    }

    void OKClicked()
    {
        SearchButtonClicked = false;
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("/index");
    }

    void UpdateFormFormat(ChangeEventArgs e)
    {
        objAddress = new Address(); // reset data
        var countryFormatId = e.Value.ToString();
        if (countryFormatId == "")
        {
            return;
        }
        selectedCountryFormat = objAddressService.ReadCountryFormat(countryFormatId);

        if (selectedCountryFormat.Name == "Other")
        {
            otherCountry = true;
        }
        else
        {
            otherCountry = false;
            objAddress.Country = selectedCountryFormat.Name;
        }
    }

    void OnCheckBoxChanged(ChangeEventArgs e)
    {
        isWholeSearch = (bool)e.Value;
    }
}
