@page "/update/{id}"
@using AddressBook.Data
@using AddressBook.Services
@inject AddressService objAddressService
@inject NavigationManager NavigationManager

<h3>Update</h3>
<hr />
@*Dynamic Form*@
<form>
    <div class="row">
        <div class="col-md-8">
            @if (address != null)
            {
                @if (selectedCountryFormat == null)
                {
                    <em>Loading...</em>
                }
                else
                {
                    <div class="form-group">
                        <label for="Country" class="control-label">Country</label>
                        <select class="form-control" @onchange="@UpdateFormFormat">
                            <option value=""></option>
                            @if (countryFormatList != null)
                            {
                                foreach (var countryFormat in countryFormatList)
                                {
                                    <option value="@countryFormat.Id">@countryFormat.Name</option>
                                }

                            }
                        </select>
                    </div>
                }
                @if (otherCountry == true)
                {
                    <div class="form-group">
                        <label for="Country" class="control-label">Country</label>
                        <input for="Country" class="form-control" @bind="@address.Country" />
                    </div>
                }
                @if (!countryValidation)
                {
                    <p style="color:red">Country is required </p>
                }

                <div class="form-group">
                    <label for="AddressLine1" class="control-label">Address Line 1</label>
                    <input for="AddressLine1" class="form-control" @bind="@address.AddressLine1" />
                    <label class="font-italic text-black-50">Street address, P.O. box, company name, c/o</label>
                    @if (!line1Validation)
                    {
                        <p style="color:red">Line 1 is required </p>
                    }
                </div>

                <div class="form-group">
                    <label for="AddressLine2" class="control-label">Address Line 2</label>
                    <input for="AddressLine2" class="form-control" @bind="@address.AddressLine2" />
                    <label class="font-italic text-black-50">Apartment, suite, unit, building, floor, etc.</label>
                </div>

                @if (selectedCountryFormat.HasAddressLine3)
                {
                    <div class="form-group">
                        <label for="AddressLine3" class="control-label">Address Line 3</label>
                        <input for="AddressLine3" class="form-control" @bind="@address.AddressLine3" />
                    </div>
                }


                @if (selectedCountryFormat.AdminAreas == null)
                {
                    <div class="form-group">
                        <label for="AdminArea" class="control-label">@selectedCountryFormat.AdminAreaDisplayName</label>
                        <input for="AdminArea" class="form-control" @bind="@address.AdminArea" />
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label for="AdminArea" class="control-label">@selectedCountryFormat.AdminAreaDisplayName</label>
                        <select class="form-control" @bind="@address.AdminArea">
                            <option value=""></option>
                            @foreach (var adminArea in selectedCountryFormat.AdminAreas)
                            {
                                <option value="@adminArea">@adminArea</option>
                            }
                        </select>
                    </div>
                }
                @if (!adminAreaValidation)
                {
                    <p style="color:red">@selectedCountryFormat.AdminAreaDisplayName is required</p>
                }

                @if (selectedCountryFormat.HasLocality)
                {
                    <div class="form-group">
                        <label for="Locality" class="control-label">@selectedCountryFormat.LocalityDisplayName</label>
                        <input for="Locality" class="form-control" @bind="@address.Locality" />
                    </div>
                }

                @if (selectedCountryFormat.HasSublocality)
                {
                    <div class="form-group">
                        <label for="Sublocality" class="control-label">@selectedCountryFormat.SublocalityDisplayName</label>
                        <input for="Sublocality" class="form-control" @bind="@address.Sublocality" />
                    </div>
                }

                <div class="form-group">
                    <label for="PostalCode" class="control-label">Postal Code</label>
                    <input for="PostalCode" class="form-control" @bind="@address.PostalCode" />
                    @if (submitted && !postCodeValidation)
                    {
                        <p style="color:red">Post code is invalid</p>
                    }
                </div>

                @if (selectedCountryFormat.HasExtraData)
                {
                    <div class="form-group">
                        <label for="ExtraData" class="control-label">Extra Data</label>
                        <input for="ExtraData" class="form-control" @bind="@address.ExtraData" />
                    </div>
                }
            }

        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input style="margin-right:50px" type="button" class="btn btn-primary" @onclick="@UpdateAddress" value="Update" />
                @if (submitted && isUpdated && validation)
                {
                    <p> your address has been added </p>
                }
                else if (submitted && !isUpdated && validation)
                {
                    <p> your address is already existed </p>
                }
                <input type="button" class="btn btn-primary" @onclick="@CancelUpdation" value="Cancel" />
            </div>
        </div>
    </div>

</form>

@code {

    Address address;

    [Parameter]
    public string id { get; set; }
    List<CountryFormat> countryFormatList;
    CountryFormat selectedCountryFormat;
    bool postCodeValidation = true;
    bool countryValidation = true;
    bool line1Validation = true;
    bool adminAreaValidation = true;
    bool otherCountry = false;
    bool addressExistenceValidation = false;
     bool validation = false;
    bool isUpdated = false;
    bool submitted = false;

    protected override async Task OnInitializedAsync()
    {
        countryFormatList = await Task.Run(() => objAddressService.GetAllCountryFormats());
        selectedCountryFormat = new CountryFormat();
        address = await Task.Run(() => objAddressService.ReadAddress(id));
    }

    protected void UpdateAddress()
    {
        // validation
        submitted = true;

        address = objAddressService.parseAddress(address);

        countryValidation = !String.IsNullOrEmpty(address.Country);

        line1Validation = !String.IsNullOrEmpty(address.AddressLine1);

        adminAreaValidation = !String.IsNullOrEmpty(address.AdminArea);

        postCodeValidation = objAddressService.PostalCodeValidator(address);

        addressExistenceValidation = objAddressService.GetAddressByWholeAddress(address).Count == 0;

        if (postCodeValidation) 
        {
            validation = true;
            if (countryValidation && line1Validation && adminAreaValidation && addressExistenceValidation)
            {
                objAddressService.UpdateAddress(address);
                isUpdated = true;
                NavigationManager.NavigateTo("/index");
            }
        }
        
    }

    void CancelUpdation()
    {
        NavigationManager.NavigateTo("/index");
    }

    void UpdateFormFormat(ChangeEventArgs e)
    {
        var countryFormatId = e.Value.ToString();
        if (countryFormatId == "")
        {
            return;
        }
        selectedCountryFormat = objAddressService.ReadCountryFormat(countryFormatId);

        if (selectedCountryFormat.Name == "Other")
        {
            otherCountry = true;
        }
        else
        {
            otherCountry = false;
            address.Country = selectedCountryFormat.Name;
        }
    }

}
